body {
    background-image: url("../images/futuristic-moon-background.jpg");
    background-size: 100%;
    width: auto;
}

.custom-btn {
    transition: all 0.4s ease;
    color: aliceblue; 
    width: 100px;
    font-weight: 500;
    background-color: black;
    
}

.custom-btn:hover {
    background-color: #f8f9fa; 
    color: black;         
}

.start-btn-div {
    position: relative;
    margin-top:550px;
    margin-left:500px
}


.home {
    display: flex;
    flex-direction: column;
    justify-content:end;
    height: 400px;
    margin-left: 120px;
    gap: 20px;
    padding-top: 550px;
    width: 800px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Mono', monospace;
    
}

.home-first {
    height: auto;
    color: aliceblue;
}
.home-head {
    font-size: 15px;
}

.main-head {
    font-size: 35px;
}

.home-explanation {
    font-size: 10px;
}

.sateliite-image img {
    width: 300px;
    height: 216px;
}

.sateliite-image {
    position: absolute;
    top: 170px;
    margin-left: 1100px;
    
}

.buttons-menu button {
  width: 50px;
}




@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;              
  white-space: nowrap;           
  color: aliceblue;
  font-size: 35px;
  font-family: 'Roboto Mono', monospace;
  animation: typing 3s steps(40, end), blink .7s step-end infinite;
}

.typewritersec {
  display: inline-block;
  overflow: hidden;              
  white-space: nowrap;           
  color: aliceblue;
  font-size: 10px;
  font-family: 'Roboto Mono', monospace;
  animation: typing 3s steps(40, end), blink .7s step-end infinite;
}